<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<!-- DEFAULT PROPERTIES -->

	<property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n" />
	<property name="filename" value="downloader" />

	<!-- APPENDERS -->

	<appender name="STD_OUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator">
				<expression>e.level.toInt() &lt;= DEBUG.toInt()</expression>
			</evaluator>
			<OnMatch>ACCEPT</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<target>System.out</target>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<appender name="STD_ERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${filename}-%d{yyyy.MM.dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!-- ROOT -->

	<root level="warn">
		<appender-ref ref="STD_ERR" />
	</root>

	<!-- LOGGERS -->

	<logger name="cop.yandex.downloader" level="debug">
		<appender-ref ref="STD_OUT" />
	</logger>
</configuration>